@import "normalize.css";
@import "sanitize.css";

.amountInput {
  width: 8vw;
  height: 1.4vw;
  border-color: $basicFontColor;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1vw;
  color: $basicFontColor;
  background-color: transparent;
  padding: 0 0 0 0.3vw;

  &:focus {
    border-width: 1px;
    border-color: $basicFontColor;
    border-radius: 5px;
    outline: none;
  }
}
