@import "normalize.css";
@import "sanitize.css";

.game {
  &__cards-container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
    grid-template: auto / repeat(3, 30vw);
  }

  &__card-container {
    background: $basicDarkThemeColor;
    align-items: center;
    justify-items: center;
    display: inline-grid;
    height: 58vh;
    width: 22vw;
    padding: 2rem 0.5rem 2rem 0.5rem;
    margin: 0.2rem 2rem 0.2rem 2rem;
    border-radius: 5px;

    &:hover {
      background-color: $basicThemeColor;
    }
  }
}
