@import "normalize.css";
@import "sanitize.css";

.game-card {
  width: auto;
  height: 20vw;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: block;
  background: $basicDarkThemeColor;

  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  &__name {
    font-size: 1vw;
    font-weight: bold;
    color: white;
    margin: 0;
    height: 3.5vw;
    padding-top: 0.5vw;
  }

  &__platform {
    font-size: 1vw;
    color: white;
    margin: 0;
  }

  &__image {
    height: 15vw;
    width: 15vw;
    border-radius: 5px;
    object-fit: cover;
  }

  &:focus {
    background-color: $basicThemeColor;
    border-radius: 4px;
    height: 12vh;
    transition: all 0.2s ease-out;
    outline: none;
  }

  &__back {
    position: absolute;
    height: 20vw;
    width: 15vw;
    border-radius: 5px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: $basicDarkThemeColor;
    transform: rotateY(180deg);
  }
}
