@import "normalize.css";
@import "sanitize.css";

.game {
  &__cards-container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
    grid-template: auto / repeat(3, 30vw);
  }

  &__card-container {
    background-color: transparent;
    display: inline-grid;
    height: 20vw;
    width: 15vw;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 5px;
    perspective: 1000px;
  }

  &__card-holder {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &__card-container:hover &__card-holder {
    transform: rotateY(180deg);
  }
}
