@import "normalize.css";
@import "sanitize.css";

.game-card {
  width: auto;
  height: 20vw;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: block;

  &__name {
    font-size: 1vw;
    font-weight: bold;
    color: white;
    margin: 0;
    height: 4vw;
    padding-top: 0.5vw;
  }

  &__platform {
    font-size: 1vw;
    color: white;
    margin: 0;
  }

  &__image {
    height: 15vw;
    width: 15vw;
    object-fit: cover;
  }

  &:focus {
    background-color: $basicThemeColor;
    border-radius: 4px;
    height: 12vh;
    transition: all 0.2s ease-out;
    outline: none;
  }
}
