@import "normalize.css";
@import "sanitize.css";

.smallButton {
  font-size: 1.2vw;
  color: $basicDarkThemeColor;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: $basicBackgroundColor;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 9vw;
  height: 2vw;
  margin: 0.5vw;

  &:hover {
    background-color: $basicThemeColor;
    color: white;
  }
}
