@import "normalize.css";
@import "sanitize.css";

.sortItems {
  font-size: 0.8rem;
  font-weight: normal;

  &__type {
    margin-top: 0.5rem;
  }

  &__criteria {
    margin-top: 0.5rem;
  }

  &__select {
    margin-left: 2rem;
    color: $basicFontColor;
    background-color: transparent;
    border-radius: 5px;
    border-color: $basicFontColor;
    width: 10vw;
    align-self: end;

    &__option {
      color: $basicFontColor;

      &:hover {
        //background-color: $basicDarkThemeColor;
        color: $basicFontColor;
      }
    }
  }
}
