@import "normalize.css";
@import "sanitize.css";

.sortItems {
  font-size: 0.8rem;
  font-weight: normal;

  &__label {
  }

  &__type {
    margin-top: 0.5rem;
  }

  &__criteria {
    margin-top: 0.5rem;
  }

  &__select {
    float: right;
    margin-left: 2rem;
    color: $basicFontColor;
    background-color: transparent;
    border-radius: 5px;
    border-color: $basicFontColor;
    width: 10.7vw;
    align-self: end;

    &__option {
      color: $basicFontColor;
      background: $basicTransparentThemeColor;
      border-radius: 5px;
      border-color: $basicFontColor;
    }
  }
}
