@import "normalize.css";
@import "sanitize.css";

.textareaProfileDescription {
  width: 30vw;
  height: 10vw;
  border-style: solid;
  border-width: 0.1vw;
  border-color: $basicDarkThemeColor;
  border-radius: 10px;
  font-size: 1.2vw;
  display: inline-grid;
  position: relative;
  padding-left: 1vw;
  margin: 0.4vw;
  color: $basicFontColor;
  font-family: inherit;
  min-height: 3.5vw;

  &:focus {
    border-style: solid;
    border-color: $basicDarkThemeColor;
    border-radius: 10px;
    outline: none;
  }
}

.labelProfileDescription {
  color: $basicFontColor;
  text-align: left;
  font-size: 1.2vw;
  display: inline-block;
  width: 10vw;
  margin-top: 0.8vw;
}
