@import "normalize.css";
@import "sanitize.css";

.textareaProfileDescription {
  width: 30vw;
  height: 15vh;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $basicDarkThemeColor;
  border-radius: 10px;
  font-size: 1.2em;
  display: inline-grid;
  position: relative;
  padding-left: 1rem;
  margin: 0.4rem;
  color: $basicFontColor;
  font-family: inherit;

  &:focus {
    border-style: solid;
    border-color: $basicDarkThemeColor;
    border-radius: 10px;
    outline: none;
  }
}

.labelProfileDescription {
  color: $basicFontColor;
  text-align: left;
  font-size: 1.2em;
  display: inline-block;
  width: 10rem;
  margin-top: 0.8rem;
}
