@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  color: $basicFontColor;
  font-family: $basicFontFamily;
  background-color: $basicBackgroundColor;
  position: relative;
}
