@import "normalize.css";
@import "sanitize.css";

.dropdown {
  color: white;
  border-radius: 6px;
  border: none;
  position: relative;
  display: inline-block;

  &__link {
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    margin: 0 0.1vw 0 0.1vw;
  }

  &__content {
    display: none;
    z-index: 1;
    position: absolute;
    margin: 0 0.1vw 0 0.1vw;

    &__link {
      display: block;
      text-decoration: none;
      background: $basicDarkThemeColor 100%;
      font-size: 0.9vw;
      color: white;
      padding: 0.3vw 1.2vw;
      justify-self: center;
      border-radius: 4px;

      &:hover {
        background-color: $basicThemeColor;
        transition: all 0.2s ease-out;
        border-radius: 4px;
        visibility: visible;
        display: block;
      }

      &:focus {
        background-color: $basicThemeColor;
        transition: all 0.2s ease-out;
        outline: none;
        border-radius: 4px;
        visibility: visible;
        display: block;
      }
    }
  }

  &:hover &__content {
    display: block;
    border-radius: 4px;
  }

  &:focus &__content {
    display: block;
  }

  &:hover &__link {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    border-radius: 4px;
    visibility: visible;
  }
  &:focus &__link {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    outline: none;
    border-radius: 4px;
    visibility: visible;
  }
}
