@import "normalize.css";
@import "sanitize.css";

.home {
  padding-bottom: 8.5rem;

  &__searchBar {
    text-align: center;
    margin-top: 1rem;
    position: relative;
    min-height: 100%;
  }

  &__chapter {
    margin: 1rem 1rem 1rem 0;
    padding-left: 1rem;
  }

  &_spinner {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
  }
}
