@import "normalize.css";
@import "sanitize.css";

.home {
  &__searchBar {
    text-align: center;
  }

  &__chapter {
    margin: 1rem 1rem 1rem 0;
    padding-left: 1rem;
  }

  &_spinner {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
