@import "normalize.css";
@import "sanitize.css";

.home {
  padding-bottom: 8.5vw;

  &__searchBar {
    text-align: center;
    margin-top: 1vw;
    position: relative;
    min-height: 100%;
  }

  &__chapter {
    margin: 1vw 1vw 1vw 0;
    padding-left: 1vw;
  }

  &_spinner {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 6vw;
  }
}
