@import "normalize.css";
@import "sanitize.css";

.searchBar {
  width: 50vw;
  height: 5vh;
  border-style: solid;
  border-color: $basicDarkThemeColor;
  border-radius: 10px;
  font-size: 1.2em;
  display: inline;
  position: relative;
  padding-left: 1rem;
  margin: 1rem;
  color: $basicFontColor;
}

.searchBar:focus {
  border-style: solid;
  border-color: $basicDarkThemeColor;
  border-radius: 10px;
  outline: none;
}
