@import "normalize.css";
@import "sanitize.css";

.dropdown {
  color: white;
  border-radius: 6px;
  border: none;
  position: relative;
  display: inline-block;

  &__link {
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin: 0 0.1rem 0 0.1rem;
  }

  &__content {
    display: none;
    z-index: 1;
    position: absolute;
    margin: 0 0.1rem 0 0.1rem;

    &__link {
      display: block;
      text-decoration: none;
      background: $basicDarkThemeColor 100%;
      font-size: 0.7rem;
      color: white;
      padding: 0.4rem 1.4rem;
      justify-self: center;
      border-radius: 4px;
    }

    &__link:hover {
      background-color: $basicThemeColor;
      transition: all 0.2s ease-out;
      border-radius: 4px;
      visibility: visible;
      display: block;
    }

    &__link:focus {
      background-color: $basicThemeColor;
      transition: all 0.2s ease-out;
      outline: none;
      border-radius: 4px;
      visibility: visible;
      display: block;
    }
  }

  &:hover &__content {
    display: block;
    border-radius: 4px;
  }

  &:focus &__content {
    display: block;
  }

  &:hover &__link {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    border-radius: 4px;
    visibility: visible;
  }
  &:focus &__link {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    outline: none;
    border-radius: 4px;
    visibility: visible;
  }
}
