@import "normalize.css";
@import "sanitize.css";

.dropdown {
  color: white;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  position: relative;
  display: inline-block;

  &__link {
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin: 0 0.1rem 0 0.1rem;
  }

  &__content {
    display: none;
    z-index: 1;
    position: absolute;

    &__link {
      display: block;
      text-decoration: none;
      background: $basicDarkThemeColor 100%;
      font-size: 0.7em;
      color: white;
      padding: 0.4rem 1rem;
      justify-self: center;
      border-radius: 4px;
    }
  }

  &__content__link:hover &__content {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    // display: block;
  }

  &__content__link:focus &__content {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    outline: none;
    //display: block;
  }

  &:hover &__content {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    display: block;
  }

  &:focus &__content {
    //background-color: $basicThemeColor;
    //transition: all 0.2s ease-out;
    //outline: none;
    display: block;
  }

  &:hover &__link {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
  }
  &:focus &__link {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    outline: none;
  }
}
