@import "normalize.css";
@import "sanitize.css";

.dropdown {
  color: white;
  border-radius: 4px;
  overflow: hidden;
  border: none;

  &__link {
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin: 0 0.1rem 0 0.1rem;
  }

  &__content {
    background: $basicDarkThemeColor 100%;
    font-size: 0.8em;
    color: white;
    display: block;
    justify-self: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.4rem 1rem;
  }

  &__content:hover {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    display: block;
  }

  &__content:focus {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    outline: none;
    display: block;
  }

  &:hover {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    display: block;
  }

  &:focus {
    background-color: $basicThemeColor;
    transition: all 0.2s ease-out;
    outline: none;
    display: block;
  }
}
