@import "normalize.css";
@import "sanitize.css";

.navbar {
  color: white;
  background: -webkit-linear-gradient(left, $basicLightThemeColor 0%, $basicDarkThemeColor 100%);
  height: 8vh;
  display: flex;
  font-size: 1.2em;

  &__title {
    justify-self: start;
    font-size: 1.1em;
    text-align: left;
    margin-left: 2vw;
    width: 30vw;
    cursor: pointer;
  }

  &__menu {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    width: 70vw;
    position: absolute;
    margin-left: 28vw;

    &__link {
      color: white;
      text-align: center;
      text-decoration: none;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin: 0 0.1rem 0 0.1rem;
    }

    &__userName {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 6vw;
      display: inline-block;
      vertical-align: bottom;
      text-align: start;
    }

    &__li {
      text-decoration: none;
    }

    &__li:hover {
      background-color: $basicThemeColor;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }

    &__li:focus {
      background-color: $basicThemeColor;
      border-radius: 4px;
      transition: all 0.2s ease-out;
      outline: none;
    }

    &__icon {
      height: 1.2em;
      margin: 0 0.1rem 0 0.1rem;
      vertical-align: text-top;
    }

    &__button {
      font-size: 1em;
      color: white;
      text-align: center;
      text-decoration: none;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      outline: none;
      padding: 0 1rem 0 1rem;
    }
  }
}
