@import "normalize.css";
@import "sanitize.css";

.buttonSubmit {
  font-size: 1.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: $basicDarkThemeColor;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  border-radius: 5px;

  &:hover {
    background-color: $basicThemeColor;
  }
}
