@import "normalize.css";
@import "sanitize.css";

.buttonUniversal {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: $basicDarkThemeColor;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 18vw;
  height: 6.5vh;
  margin: 0.5rem;

  &:hover {
    background-color: $basicThemeColor;
  }
}
