@import "normalize.css";
@import "sanitize.css";

.inputText {
  width: 50vw;
  height: 5vh;
  border-style: solid;
  border-color: $basicDarkThemeColor;
  border-radius: 10px;
  font-size: 1.2em;
  display: inline-grid;
  position: relative;
  padding-left: 1rem;
  margin: 0.4rem;
  color: $basicFontColor;
}

.inputText:focus {
  border-style: solid;
  border-color: $basicDarkThemeColor;
  border-radius: 10px;
  outline: none;
}

.labelText {
  color: white;
  text-align: left;
  font-size: 1.2em;
  display: inline-block;
  width: 10rem;
}
