@import "normalize.css";
@import "sanitize.css";

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  //display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    color: white;
    align-items: center;
    justify-content: center;
    display: grid;
  }
}
