@import "normalize.css";
@import "sanitize.css";

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  top: 0;
  align-items: center;

  &__form {
    color: white;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 100vw;

    &__flex {
      display: flex;
    }

    &__card-image {
      flex: 0.5;
    }

    &__inputs-panel {
      flex: 1.5;
    }
  }

  &__small-input {
    justify-self: center;
  }

  &__small-textarea {
    justify-self: center;
  }

  &__small-select {
    justify-self: center;
  }

  &__buttonSubmit {
    justify-self: center;
  }

  &__error {
    margin: 0 0 5px 0;
    align-items: center;
    font-size: 0.8vw;
    text-align: center;
    color: red;
    justify-self: center;
  }

  &__head {
    display: flex;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw 0 1vw 0;
  }

  &__buttonClose {
    justify-content: end;
    width: 45vw;
    text-align: right;
  }

  &__title {
    justify-content: start;
    width: 45vw;
    text-align: left;
    height: 1.8vw;
  }

  &__input {
    justify-self: center;
  }

  &__confirmation-message {
    justify-content: center;
    justify-self: center;
    font-size: 1.5vw;
  }
}
