@import "normalize.css";
@import "sanitize.css";

.footer {
  display: block;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 6.7vw;

  &__slogan {
    text-align: center;
  }

  &__menu {
    margin-top: 0%;
    display: inline-grid;
    grid-template: 1fr / repeat(10, 9vw);
    list-style: none;
    justify-content: center;
    margin-right: 2vw;
  }

  &__links {
    padding: 1vw;

    &:hover {
      background-color: $basicThemeColor;
      border-radius: 4px;
      height: 10vh;
      transition: all 0.2s ease-out;
    }

    &:focus {
      background-color: $basicThemeColor;
      border-radius: 4px;
      height: 10vh;
      transition: all 0.2s ease-out;
      outline: none;
    }
  }

  &__icons {
    height: 1.5vw;
    width: auto;
  }
}
