@import "normalize.css";
@import "sanitize.css";

.game-card {
  width: auto;
  height: 22.5vw;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: block;
  background: $basicDarkThemeColor;

  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

  &__name {
    font-size: 1vw;
    font-weight: bold;
    color: white;
    margin: 0;
    height: 4vw;
    padding: 0.5vw 0.5vw 0 0.5vw;
    display: table-cell;
    vertical-align: middle;
    width: 16vw;
  }

  &__info {
    display: inline-flex;
    vertical-align: bottom;
    text-align: start;
    width: 16vw;
    padding: 0 2.5vw 0 2.5vw;

    &__star {
      font-size: 1vw;
      color: white;
      margin: 0;
      font-weight: normal;
      vertical-align: text-top;
      text-align: end;
      flex: 1.5;
    }

    &__name {
      font-size: 1vw;
      color: white;
      margin: 0;
      font-weight: normal;
      vertical-align: text-top;
      text-align: start;
      flex: 1;
    }

    &__rating {
      font-size: 1vw;
      color: white;
      margin: 0;
      font-weight: normal;
      vertical-align: text-top;
      text-align: end;
      flex: 0.5;
    }
  }

  &__description {
    font-size: 0.9vw;
    color: white;
    text-align: justify;
    margin: 1.4vw 1.4vw 1.4vw 1.4vw;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;

    &__container {
      height: 14vw;
    }
  }

  &__image {
    height: 16vw;
    width: 16vw;
    border-radius: 5px;
    object-fit: cover;
  }

  &:focus {
    background-color: $basicThemeColor;
    border-radius: 4px;
    height: 12vh;
    transition: all 0.2s ease-out;
    outline: none;
  }

  &__back {
    position: absolute;
    height: 22.5vw;
    width: 16vw;
    border-radius: 10px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: $basicDarkThemeColor;
    transform: rotateY(180deg);

    &__main-button-holder {
      height: 6.1vw;
      line-height: 6.1vw;
      text-align: center;
    }

    &__admin-button-holder {
      margin: 0.5vw 0 0 0;

      &__inline {
        margin: 0.8vw 0 0 0;
      }
    }
  }
}
