@import "normalize.css";
@import "sanitize.css";

.image-profile {
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: block;

  &__image {
    height: 16vw;
    width: auto;
  }

  &__container {
    background: $basicDarkThemeColor;
    align-items: center;
    justify-items: center;
    display: inline-grid;
    padding: 2vw 0.5vw 2vw 0.5vw;
    margin: 0.2vw 2.2vw 0.2vw 2.2vw;
    border-radius: 5px;

    &:hover {
      background-color: $basicThemeColor;
    }
  }

  &:focus {
    background-color: $basicThemeColor;
    border-radius: 4px;
    height: 12vh;
    transition: all 0.2s ease-out;
    outline: none;
  }
}
